<%= form_for @character do |f| %>

  <% if @character.errors.any? %>
    <% @character.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :hero_name %><br>
    <%= f.text_field :hero_name %>
  </p>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.label :universe %><br>
    <%= collection_select(:character, :universe_id, Universe.all, :id, :name, include_blank: true) %>
  </p>

  <p>
    <%= f.label :ability, "Ablilities" %><br>
    
    <%= collection_check_boxes(:character, :ability_ids, Ability.all, :id, :name) %>
  </p>


  <%= f.submit %>
<% end %>



