<!DOCTYPE html>
<html>
  <head>
    <title>HeroApp</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav><a href="#">Marvel</a> <a href="#">DC</a></nav>

    <% flash.each do |name, msg| %>
      <div class="<%= name %>">
        <%= msg %>
      </div>
    <% end %>


    <%= yield %>

  </body>
</html>