<!DOCTYPE html>
<html>
  <head>
    <title>HeroApp</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "register", new_user_registration_path %>
        <%= link_to "sign in", user_session_path %>
      <% end %> 
    </nav>

    <% flash.each do |name, msg| %>
      <div class="<%= name %>">
        <%= msg %>
      </div>
    <% end %>


    <%= yield %>

  </body>
</html>